american-flights-api/src/test/munit/munit-testcases-foreachflow-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:munit="http://www.mulesoft.org/schema/mule/munit" xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
 <munit:config name="munit-testcases-foreach-test-suite.xml" />
 <munit:test name="munit-testcases-foreachFlowTest" doc:id="8aec3ac3-777b-49f9-9c11-b91b350b6606" description="Test" timeOut="1200000">
  <munit:behavior >
   <munit-tools:mock-when doc:name="Mock Get the CocktailDB Details Request" doc:id="8572b5e4-e13c-433e-96f0-f1796894c5bc" processor="http:request">
    <munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Available Flights" attributeName="doc:name" />
				</munit-tools:with-attributes>
				<munit-tools:then-call flow="munit-testcases-foreach-test-suiteFlow" />
   </munit-tools:mock-when>
  </munit:behavior>
  <munit:execution >
   <flow-ref doc:name="Ref to munit-testcases-foreachflowFlow" doc:id="45416ddd-cc6e-43ef-a20f-7e86af2bb78e" name="munit-testcases-foreachflowFlow"/>
  </munit:execution>
  <munit:validation >
   <munit-tools:assert-equals doc:name="Assert equals" doc:id="1fb93d17-9a87-4fb5-94d0-aebbb78db3b2" message="error message: response payload should not match with the expected payload" actual="#[payload]" expected="#[readUrl('classpath://munit_samples/expected_response.json')]"/>
  </munit:validation>
 </munit:test>
 <flow name="munit-testcases-foreach-test-suiteFlow" doc:id="03b4db7b-94b2-4a6e-a6f8-17eb4d160efe">
  <choice doc:name="Choice" doc:id="3b12fe4d-5fd5-413a-a464-a19cbd79dbaf">
   <when expression="#[vars.counter == 1]">
    <set-payload value="#[readUrl('classpath://munit_samples/rq_rs_count1.json')]" doc:name="Request Response Count_1" doc:id="5e21841b-e4d3-429f-8373-38373e053e54" />
   </when>
   <when expression="#[vars.counter == 2]">
    <set-payload value="#[readUrl('classpath://munit_samples/rq_rs_count2.json')]" doc:name="Request Response Count_2" doc:id="dc7004d5-7ab0-45d9-a2e6-2566337f5317" />
   </when>
   <when expression="#[vars.counter == 3]">
    <set-payload value="#[readUrl('classpath://munit_samples/rq_rs_count3.json')]" doc:name="Request Response Count_3" doc:id="69494cd9-165b-44d7-b8f3-2878c0586aea" />
   </when>
   <otherwise>
    <logger level="INFO" doc:name="Default Logger " doc:id="96d622cf-d756-47d3-8cda-362c5b445e8c" message='#["not entered into the forloop"]' />
   </otherwise>
  </choice>
 </flow>


</mule>
